## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
def mark(param):
    if param <= 2:
        return "Bad"
    elif param > 2 and param <= 4:
        return "Good"
    else:
        return "Excellent"

In [6]:
ratings['class'] = ratings['rating'].apply(mark)
ratings.head()

   userId  movieId  rating   timestamp class
0       1       31     2.5  1260759144  Good
1       1     1029     3.0  1260759179  Good
2       1     1061     3.0  1260759182  Good
3       1     1129     2.0  1260759185   Bad
4       1     1172     4.0  1260759205  Good

In [9]:
ratings['class'].value_counts()

Good         63801
Excellent    22818
Bad          13385
Name: class, dtype: int64

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [2]:
df = pd.read_csv('keywords.csv')

In [3]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [4]:
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [14]:
def check(row):
    for key, value in geo_data.items():
        for x in value:
            if x in row.keyword:
                return key
    else:
        return "undefined"

In [15]:
df['region'] = df.apply(check, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [16]:
df['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64